@import "tailwindcss";

@theme {
    --font-sans: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    --font-mono: "IBM Plex Mono", monospace;
    --font-serif: "IBM Plex Serif", serif;
}

body {
    font-feature-settings:
        "ss01" on,
        "ss02" on,
        "frac" on,
        "zero" on;
}
